.key {
  display: inline-block;
  position: relative;
  transition: .2s;

  &:hover {
    cursor: pointer;
  }
}

.whiteKey {
  @extend .key;

  width: 48px;
  height: 192px;
  background-color: #ffffff;
  margin: 3px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 5px 0 0 #dddddd;

  &:hover {
    background-color: #fafafa;
    box-shadow: 0 5px 0 0 #cccccc;
  }
}

.blackKey {
  @extend .key;

  width: 32px;
  height: 112px;
  background-color: #444444;
  margin-top: 3px;
  margin-left: -16px;
  margin-right: -16px;
  z-index: 10;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 8px 0 0 #000000;

  &:hover {
    background-color: #222222;
  }
}

